[submodule "contracts-galadriel"]
	path = contracts-galadriel
	url = git@github.com:colab-X/contracts-galadriel
	branch = main

[submodule "collabX-contracts"]
	path = collabX-contracts
	url = git@github.com:colab-X/contract
	branch = main

[submodule "collabX-app"]
	path = app
	url = git@github.com:colab-X/app
	branch = main
